.elementor-3025 .elementor-element.elementor-element-d958f4d:not(.elementor-motion-effects-element-type-background),.elementor-3025 .elementor-element.elementor-element-d958f4d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(90deg,#001426 0%,#00283C 100%)
}

.elementor-3025 .elementor-element.elementor-element-d958f4d,.elementor-3025 .elementor-element.elementor-element-d958f4d>.elementor-background-overlay {
    border-radius: 40px 40px 40px 40px
}

.elementor-3025 .elementor-element.elementor-element-d958f4d {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s
}

.elementor-3025 .elementor-element.elementor-element-d958f4d>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-3025 .elementor-element.elementor-element-530be50>.elementor-element-populated {
    padding: 5%
}

.elementor-3025 .elementor-element.elementor-element-e4ce46d {
    text-align: center
}

.elementor-3025 .elementor-element.elementor-element-e4ce46d .elementor-heading-title {
    color: #ef357a;
    font-size: 1.58vw;
    font-weight: 700;
    text-transform: uppercase
}

.elementor-3025 .elementor-element.elementor-element-e4ce46d>.elementor-widget-container {
    margin: 0% 0% 4%
}

.elementor-3025 .elementor-element.elementor-element-244d711 {
    text-align: center
}

.elementor-3025 .elementor-element.elementor-element-244d711 .elementor-heading-title {
    font-size: 1.35vw;
    font-weight: 600
}

.elementor-3025 .elementor-element.elementor-element-787c424 {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 0
}

.elementor-bc-flex-widget .elementor-3025 .elementor-element.elementor-element-b6bd64f.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-3025 .elementor-element.elementor-element-b6bd64f.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-3025 .elementor-element.elementor-element-b6bd64f.elementor-column>.elementor-widget-wrap {
    justify-content: center
}

.elementor-3025 .elementor-element.elementor-element-7613197 {
    text-align: center;
    width: var( --container-widget-width,27% );
    max-width: 27%;
    --container-widget-width: 27%;
    --container-widget-flex-grow: 0;
    align-self: center
}

.elementor-3025 .elementor-element.elementor-element-7613197 .elementor-heading-title {
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase
}

.elementor-3025 .elementor-element.elementor-element-7613197>.elementor-widget-container {
    padding: 6% 0%;
    background-color: #ffffff1a;
    border-radius: 100px 100px 100px 100px
}

.elementor-3025 .elementor-element.elementor-element-b86c89b,.elementor-3025 .elementor-element.elementor-element-b86c89b>.elementor-background-overlay {
    border-radius: 15px 15px 15px 15px
}

.elementor-3025 .elementor-element.elementor-element-b86c89b {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-bc-flex-widget .elementor-3025 .elementor-element.elementor-element-4887cc1.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-3025 .elementor-element.elementor-element-4887cc1.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-3025 .elementor-element.elementor-element-4887cc1.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-3025 .elementor-element.elementor-element-4887cc1>.elementor-element-populated,.elementor-3025 .elementor-element.elementor-element-4887cc1>.elementor-element-populated>.elementor-background-overlay,.elementor-3025 .elementor-element.elementor-element-4887cc1>.elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px
}

.elementor-3025 .elementor-element.elementor-element-4887cc1>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0% 7% 0% 0%
}

.elementor-3025 .elementor-element.elementor-element-4153d43 .elementor-button {
    font-size: .825vw;
    font-weight: 500;
    text-transform: uppercase;
    fill: #fff;
    color: #fff;
    background-color: #00a69c;
    padding: .7em 2em
}

.elementor-3025 .elementor-element.elementor-element-4153d43 {
    width: var( --container-widget-width,45% );
    max-width: 45%;
    --container-widget-width: 45%;
    --container-widget-flex-grow: 0
}

.elementor-bc-flex-widget .elementor-3025 .elementor-element.elementor-element-0b08b0f.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-3025 .elementor-element.elementor-element-0b08b0f.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-3025 .elementor-element.elementor-element-0b08b0f.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start
}

.elementor-3025 .elementor-element.elementor-element-0b08b0f>.elementor-element-populated,.elementor-3025 .elementor-element.elementor-element-0b08b0f>.elementor-element-populated>.elementor-background-overlay,.elementor-3025 .elementor-element.elementor-element-0b08b0f>.elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px
}

.elementor-3025 .elementor-element.elementor-element-0b08b0f>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0% 0% 0% 7%
}

.elementor-3025 .elementor-element.elementor-element-7f9eae8 .elementor-button {
    font-size: .825vw;
    font-weight: 500;
    text-transform: uppercase;
    fill: #fff;
    color: #fff;
    background-color: #ed1163;
    padding: .7em 2em
}

.elementor-3025 .elementor-element.elementor-element-7f9eae8>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3025 .elementor-element.elementor-element-7f9eae8 {
    width: var( --container-widget-width,45% );
    max-width: 45%;
    --container-widget-width: 45%;
    --container-widget-flex-grow: 0
}

#elementor-popup-modal-3025 .dialog-message {
    width: 45vw;
    height: auto
}

#elementor-popup-modal-3025 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0,0,0,.8)
}

#elementor-popup-modal-3025 .dialog-widget-content {
    animation-duration: .3s;
    background-color: #ffffff00;
    box-shadow: 2px 8px 23px 3px rgba(0,0,0,.2)
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-3025 .elementor-element.elementor-element-b6bd64f {
        width:100%
    }

    .elementor-3025 .elementor-element.elementor-element-4887cc1 {
        width: 50%
    }

    .elementor-3025 .elementor-element.elementor-element-0b08b0f {
        width: 50%
    }
}

@media(max-width: 1024px) {
    .elementor-3025 .elementor-element.elementor-element-e4ce46d>.elementor-widget-container {
        margin:0% 0% 2%
    }

    .elementor-3025 .elementor-element.elementor-element-7613197 .elementor-heading-title {
        font-size: 1.5vw
    }

    .elementor-3025 .elementor-element.elementor-element-7613197>.elementor-widget-container {
        padding: 5% 0%
    }

    .elementor-3025 .elementor-element.elementor-element-7613197 {
        --container-widget-width: 27%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width,27% );
        max-width: 27%;
        align-self: center
    }

    .elementor-3025 .elementor-element.elementor-element-4153d43 .elementor-button {
        font-size: 9px;
        padding: .7em 1em
    }

    .elementor-3025 .elementor-element.elementor-element-4153d43 {
        --container-widget-width: 50%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width,50% );
        max-width: 50%
    }

    .elementor-3025 .elementor-element.elementor-element-7f9eae8 .elementor-button {
        font-size: 9px;
        padding: .7em 1em
    }
}

@media(max-width: 767px) {
    .elementor-3025 .elementor-element.elementor-element-d958f4d,.elementor-3025 .elementor-element.elementor-element-d958f4d>.elementor-background-overlay {
        border-radius:40px 40px 40px 40px
    }

    .elementor-3025 .elementor-element.elementor-element-530be50>.elementor-element-populated {
        padding: 7% 5%
    }

    .elementor-3025 .elementor-element.elementor-element-e4ce46d .elementor-heading-title {
        font-size: 4.43vw
    }

    .elementor-3025 .elementor-element.elementor-element-e4ce46d>.elementor-widget-container {
        margin: 0% 0% 4%
    }

    .elementor-3025 .elementor-element.elementor-element-244d711 .elementor-heading-title {
        font-size: 3.57vw
    }

    .elementor-3025 .elementor-element.elementor-element-787c424 {
        padding: 0
    }

    .elementor-3025 .elementor-element.elementor-element-b6bd64f {
        width: 100%
    }

    .elementor-3025 .elementor-element.elementor-element-b6bd64f>.elementor-element-populated {
        padding: .5em
    }

    .elementor-3025 .elementor-element.elementor-element-7613197 .elementor-heading-title {
        font-size: 3.57vw
    }

    .elementor-3025 .elementor-element.elementor-element-7613197 {
        --container-widget-width: 50%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width,50% );
        max-width: 50%
    }

    .elementor-3025 .elementor-element.elementor-element-b86c89b {
        padding: 0
    }

    .elementor-3025 .elementor-element.elementor-element-4887cc1 {
        width: 50%
    }

    .elementor-3025 .elementor-element.elementor-element-4887cc1>.elementor-element-populated {
        padding: 0
    }

    .elementor-3025 .elementor-element.elementor-element-4153d43 .elementor-button {
        font-size: 3vw;
        padding: .7em .6em
    }

    .elementor-3025 .elementor-element.elementor-element-4153d43>.elementor-widget-container {
        padding: 0% 5% 0% 0%
    }

    .elementor-3025 .elementor-element.elementor-element-4153d43 {
        --container-widget-width: 70%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width,70% );
        max-width: 70%
    }

    .elementor-3025 .elementor-element.elementor-element-0b08b0f {
        width: 50%
    }

    .elementor-3025 .elementor-element.elementor-element-0b08b0f>.elementor-element-populated {
        padding: 0
    }

    .elementor-3025 .elementor-element.elementor-element-7f9eae8 .elementor-button {
        font-size: 3vw;
        padding: .7em .6em
    }

    .elementor-3025 .elementor-element.elementor-element-7f9eae8>.elementor-widget-container {
        padding: 0% 0% 0% 5%
    }

    .elementor-3025 .elementor-element.elementor-element-7f9eae8 {
        --container-widget-width: 70%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width,70% );
        max-width: 70%
    }

    #elementor-popup-modal-3025 .dialog-message {
        width: 80vw
    }
}

.elementor-3025 .elementor-element.elementor-element-4153d43 {
    cursor: pointer
}

.elementor-3025 .elementor-element.elementor-element-7f9eae8 {
    cursor: pointer
}

.elementor-3025 .elementor-element.elementor-element-530be50 {
    border-radius: 40px!important;
    overflow: hidden!important
}

#elementor-popup-modal-3025>.elementor-container {
    flex-wrap: wrap!important
}

#elementor-popup-modal-3025>div:before {
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    border-radius: 40px!important;
    outline: 2pxsolid#00FFFFAA;
    border: 5px solid #8d42ffaa;
    filter: brightness(5) blur(7px);
    opacity: .7;
    pointer-events: none
}

#elementor-popup-modal-3025>div:after {
    pointer-events: none;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding: 3px;
    background: linear-gradient(45deg,#8D42FF,#00FFFF);
    opacity: .4;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude
}
