.elementor-2635 .elementor-element.elementor-element-5f0ef6a {
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --align-items: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 3.28%;
    --padding-right: 0%;
    --padding-bottom: 0.5%;
    --padding-left: 0%
}

.elementor-2635 .elementor-element.elementor-element-5f0ef6a:not(.elementor-motion-effects-element-type-background),.elementor-2635 .elementor-element.elementor-element-5f0ef6a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg,#00000000 0%,#00FFFF21 100%)
}

.elementor-2635 .elementor-element.elementor-element-5f0ef6a,.elementor-2635 .elementor-element.elementor-element-5f0ef6a::before {
    --border-transition: 0.3s
}

.elementor-2635 .elementor-element.elementor-element-0f2e818 {
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-2635 .elementor-element.elementor-element-80d56e3 {
    text-align: center;
    font-size: 1.3vw;
    font-weight: 200
}

.elementor-2635 .elementor-element.elementor-element-80d56e3>.elementor-widget-container {
    margin: 10% 0% 12%
}

.elementor-2635 .elementor-element.elementor-element-3673150 {
    text-align: center;
    font-size: 1.3vw;
    font-weight: 300
}

.elementor-2635 .elementor-element.elementor-element-3673150>.elementor-widget-container {
    margin: .7% 0%
}

.elementor-2635 .elementor-element.elementor-element-6a3bf7f {
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --background-transition: 0.3s;
    --padding-top: 3.5%;
    --padding-right: 6.2%;
    --padding-bottom: 0%;
    --padding-left: 6.2%
}

.elementor-2635 .elementor-element.elementor-element-0df3651 {
    text-align: center;
    color: #fff;
    font-size: 1.04vw;
    font-weight: 100
}

.elementor-2635 .elementor-element.elementor-element-0df3651>.elementor-widget-container {
    margin: 0%
}

.elementor-2635 .elementor-element.elementor-element-beb6797 {
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 4vw;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-2635 .elementor-element.elementor-element-beb6797.e-con {
    --order: 99999 /* order end hack */;
    --flex-grow: 0;
    --flex-shrink: 1
}

.elementor-2635 .elementor-element.elementor-element-c1bc1c2 {
    text-align: center;
    color: #fff;
    font-size: 1.04vw;
    font-weight: 100
}

.elementor-2635 .elementor-element.elementor-element-c1bc1c2>.elementor-widget-container {
    margin: 0%
}

.elementor-2635 .elementor-element.elementor-element-9244277 {
    text-align: center;
    color: #fff;
    font-size: 1.04vw;
    font-weight: 100
}

.elementor-2635 .elementor-element.elementor-element-9244277>.elementor-widget-container {
    margin: 0%
}

@media(min-width: 768px) {
    .elementor-2635 .elementor-element.elementor-element-beb6797 {
        --width:auto
    }
}

@media(max-width: 767px) {
    .elementor-2635 .elementor-element.elementor-element-5f0ef6a {
        --padding-top:18%;
        --padding-right: 0%;
        --padding-bottom: 1%;
        --padding-left: 0%
    }

    .elementor-2635 .elementor-element.elementor-element-80d56e3 {
        font-size: 4.43vw
    }

    .elementor-2635 .elementor-element.elementor-element-80d56e3>.elementor-widget-container {
        margin: 15% 0%
    }

    .elementor-2635 .elementor-element.elementor-element-3673150 {
        font-size: 4.43vw
    }

    .elementor-2635 .elementor-element.elementor-element-6a3bf7f {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --padding-top: 8%;
        --padding-right: 18%;
        --padding-bottom: 4%;
        --padding-left: 18%
    }

    .elementor-2635 .elementor-element.elementor-element-0df3651 {
        font-size: 4vw
    }

    .elementor-2635 .elementor-element.elementor-element-beb6797 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --gap: 0%
    }

    .elementor-2635 .elementor-element.elementor-element-c1bc1c2 {
        font-size: 4vw
    }

    .elementor-2635 .elementor-element.elementor-element-9244277 {
        font-size: 4vw
    }
}

.elementor-2635 .elementor-element.elementor-element-39affad {
    width: 14.63vw
}

@media screen and (max-width: 767px) {
    .elementor-2635 .elementor-element.elementor-element-39affad {
        width:52.72vw
    }
}

.elementor-2635 .elementor-element.elementor-element-80d56e3 * {
    margin: 0
}

.elementor-2635 .elementor-element.elementor-element-3673150 * {
    margin: 0
}

.elementor-2635 .elementor-element.elementor-element-3673150 a {
    text-decoration: none;
    color: inherit
}

.elementor-2635 .elementor-element.elementor-element-0df3651 a {
    color: #fff
}

.elementor-2635 .elementor-element.elementor-element-c1bc1c2 a {
    color: #fff
}

.elementor-2635 .elementor-element.elementor-element-9244277 a {
    color: #fff
}
