.featured-projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-project {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.featured-project:hover {
    transform: scale(1.1);
}

.featured-project img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.featured-project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.featured-project p {
    font-size: 16px;
    color: #666;
}