.elementor-kit-35 {
    --e-global-color-primary: #FFFFFF;
    --e-global-color-secondary: #FFFFFF;
    --e-global-color-text: #FFFFFF;
    --e-global-color-accent: #00FFFF;
    --e-global-typography-primary-font-family: "Kanit";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Kanit";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Kanit";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Kanit";
    --e-global-typography-accent-font-weight: 500;
    font-family: kanit,Sans-serif;
    background-color: transparent;
    background-image: linear-gradient(90deg,#001324 0%,#000000 100%)
}

.elementor-kit-35 a {
    color: #0ff;
    font-family: kanit,Sans-serif
}

.elementor-kit-35 a:hover {
    font-family: kanit,Sans-serif
}

.elementor-kit-35 h1 {
    font-family: kanit,Sans-serif
}

.elementor-kit-35 h2 {
    font-family: kanit,Sans-serif
}

.elementor-kit-35 h3 {
    font-family: kanit,Sans-serif
}

.elementor-kit-35 h4 {
    font-family: kanit,Sans-serif
}

.elementor-kit-35 h5 {
    font-family: kanit,Sans-serif
}

.elementor-kit-35 h6 {
    font-family: kanit,Sans-serif
}

.elementor-kit-35 button,.elementor-kit-35 input[type=button],.elementor-kit-35 input[type=submit],.elementor-kit-35 .elementor-button {
    font-family: kanit,Sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #ed1163cc;
    border-radius: 50em 50em 50em 50em;
    padding: 10px 15px
}

.elementor-kit-35 button:hover,.elementor-kit-35 button:focus,.elementor-kit-35 input[type=button]:hover,.elementor-kit-35 input[type=button]:focus,.elementor-kit-35 input[type=submit]:hover,.elementor-kit-35 input[type=submit]:focus,.elementor-kit-35 .elementor-button:hover,.elementor-kit-35 .elementor-button:focus {
    background-color: #ed1163
}

.elementor-kit-35 label {
    font-family: kanit,Sans-serif
}

.elementor-kit-35 input:not([type=button]):not([type=submit]),.elementor-kit-35 textarea,.elementor-kit-35 .elementor-field-textual {
    font-family: kanit,Sans-serif
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1642px
}

.e-con {
    --container-max-width: 1642px
}

.elementor-widget:not(:last-child) {
    margin-bottom: 0
}

.elementor-element {
    --widgets-spacing: 0px
}



h1.entry-title {
    display: var(--page-title-display)
}

.site-header {
    padding-right: 0;
    padding-left: 0
}

@media(max-width: 1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width:1024px
    }

    .e-con {
        --container-max-width: 1024px
    }
}

@media(max-width: 767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width:767px
    }

    .e-con {
        --container-max-width: 767px
    }
}

body::-webkit-scrollbar,textarea::-webkit-scrollbar {
    width: 11px;
    background: 0 0
}

body::-webkit-scrollbar-corner,textarea::-webkit-scrollbar-corner {
    background: 0 0;
    border: none
}

body::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb {
    background-color: #073a4d;
    border-radius: 6px;
    border: 2px solid #09163b
}

body::-webkit-scrollbar-track,textarea::-webkit-scrollbar-track {
    background: #09163b
}

* {
    -webkit-tap-highlight-color: transparent
}

.disabled {
    opacity: .5;
    pointer-events: none!important
}

.disabled * {
    pointer-events: none!important
}

#popup-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    pointer-events: all
}

.popup {
    box-sizing: border-box;
    font-weight: 600
}

.popup>div {
    padding: 0 1em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.popup-info {
    background-color: gold;
    border-top: 3px solid #daa520;
    color: #000
}

.popup-error {
    background-color: #f65656;
    border-top: 3px solid darkred;
    color: #fff
}

.popup-success {
    background-color: #3cb878;
    border-top: 3px solid #006400;
    color: #fff
}

.popup-close {
    font-weight: 600;
    font-size: 200%;
    cursor: pointer
}


body:not(.elementor-editor-active) .elementor-section *:not(.elementor-background-overlay),body:not(.elementor-editor-active) [data-element_type=container] *:not(.elementor-background-overlay) {
    pointer-events: initial
}
